/*index.html*/

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 242, 242)
}

a, a.visited {
    text-decoration: none;
    color: unset;
}

.linkInText {
    color: royalblue;
}

.linkInText:hover {
    filter: brightness(75%);
}

button {
    outline: none;
}

.content {
    min-height: calc(100vh - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: darkslategray;
    width: 100%;
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 65px;
    font-weight: normal;
    color: rgb(242, 242, 242);
    text-align: center;
    margin: 0px;
    padding: 25px;
}

.topMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}

.topMenu li {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    width: 100px;
    padding: 12px 8px 9px 8px;
    margin: 0 10px;
}

.topMenu li.active {
    color: darkslategray;
    background-color: rgb(242, 242, 242);
}

.largeSpace {
    height: 50px;
}

h2 {
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: darkslategray;
}

.h2Container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 1110px;
    background-color: rgb(242, 242, 242);
    margin: 15px 0 25px 0;
    background-image: linear-gradient(to right, rgb(184, 184, 184), rgb(242, 242, 242));
}

.triangleRight {
    width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 50px solid rgb(242, 242, 242);
	border-bottom: 50px solid transparent;
}

.h2Icon {
    height: 35px;
    margin: 0 24px;
}

.paragraphBox {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: fit-content;
    margin: 0 35px 40px 35px;
}

.otherPagePart {
    display: flex;
    justify-content: center;
    margin: 0 35px 40px 35px;
}

.multipleParagraphs {
    display: flex;
    margin: 0 22px 15px 22px;
}

.multipleParagraphs .paragraphBox {
    margin: 0 13px 25px 13px;
}

.spaceBetweenBoxes {
    width: 35px;
}

.paragraphTitle {
    padding: 28px 35px 25px 35px;
    text-align: center;
    border-bottom: 4px solid darkslategray;
}

h3 {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: darkslategray;
}

p {
    margin: 0;
    align-self: center;
}

.paragraphContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 35px;
}

#homepageParagraphContent {
    flex-direction: row;
    align-items: center;
}

#imageSlider {
    width: 300px;
    min-width: 300px;
    height: 400px;
    border-radius: 9px;
    margin-right: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    min-width: 900px;
    display: flex;
    transition: transform 0.6s;
}

.imageContainer img {
    width: 300px;
    height: 400px;
}

#sliderBtnContainer {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    top: -18px;
    position: relative;
}

#sliderBtnContainer button {
    padding: 0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0 3px;
    border: 1px solid white;
    background: hsla(0, 0%, 100%, 0.0);
}

#sliderBtnContainer button.active {
    background: hsla(0, 0%, 100%, 0.6);
}

#sliderBtnContainer button:hover {
    background: hsla(0, 0%, 100%, 1.0);
}

.part {
    display: flex;
    flex-direction: column;
}

#introduction {
    min-width: 220px;
    max-width: 600px;
}

#stackLogos {
    padding: 35px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#stackLogos .stackLogo img {
    height: 35px;
    margin: 7px 7px;
}

.stackLogo {
    display: inline-block;
    position: relative;
}

.tooltipText {
    visibility: hidden;
    background-color: darkslategray;
    color: white;
    padding: 4px 6px 6px 6px;
    box-shadow: 2px 2px 2px grey;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 30%;
}

.stackLogo:hover .tooltipText {
    visibility: visible;
}

.mediaLinkButton img {
    height: 35px;
    margin: 0 7px;
}

.mediaLinkButton:hover {
    filter: brightness(85%);
}

footer {
    height: 25px;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    background-color: darkslategray;
}

.contentEnd {
    height: 1px;
}

/*other pages specifics*/

.pMultipleParagraphs {
    min-width: 220px;
    max-width: 423px;
}

.previewUnavailable {
    margin: 30px 0;
    text-align: center;
    color: lightslategray;
}

iframe, #emptyParagraph {
    min-width: 220px;
    width: 423px;
    height: 212px;
}

/*media*/

@media screen and (max-width: 1180px) {
    .h2Container {
        left: 0;
        width: calc(100% - 70px);
    }
}

@media screen and (max-width: 1082px) {
    #emptyParagraph, iframe {
        width: calc(50vw - 118px);
        height: calc(25vw - 59px);
    }
}

@media screen and (max-width: 753px) {
    .paragraphContent, #homepageParagraphContent {
        flex-direction: column;
        justify-content: center;
    }

    #introductionPart {
        padding-top: 25px;
        max-width: 300px;
    }

    #imageSlider {
        margin-right: 0;
    }

    .multipleParagraphs {
        flex-direction: column;
        align-items: center;
    }

    #emptyParagraph, iframe {
        width: 423px;
        height: 212px;
    }
}

@media screen and (max-width: 563px) {
    #emptyParagraph, iframe {
        width: calc(100vw - 140px);
        height: calc(50vw - 70px);
    }
}