body {
    background-color: white;
    position: relative;
}

.memory {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 0.5%;
    width: 24%;
    height: 19%;
    visibility: visible;
    cursor: pointer;
    border-radius: 5px;
    background-color: darkslategray;
    background-image: url('../../images/favicon.png');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.memory.done {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.memory .generalButton {
    width: 30%;
    margin-top: 30px;
}
